-f https://download.pytorch.org/whl/torch_stable.html
flask==2.0.2
werkzeug==2.0.2
opencv-contrib-python-headless
pytz==2021.3
torch==1.6.0+cpu
torchvision==0.7.0+cpu
pretrainedmodels==0.7.4
urllib3==1.26.7