
<html>
    <body>
    <center>
        <h1>Details</h1>
    </center>
    <center>
    <div class="item" align="left">
        <p style = "right:10%">{{name}}</p>
        <img height="{{height}}" width="{{width}}" src="{{url_for('static', filename=name)}}" />
        <p>{{height}}x{{width}}</p>
    </div>
    <table width="100" border="5" align="center">
        <tr>
            <td width="25%">CLASS</td>
            <td>CONFIDENCE</td>
        </tr>
        {% for conf,class in zip(conf_list,class_list) %}
            <tr>
                <td>{{class}}</td>
                <td>{{conf}}</td>

            </tr>
        {% endfor %}
    </table>

    </body>
</html>