<html>
    <head>
        <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
        }
        </style>
    </head>
   <body>
      <div style="width: 150;float: left;">
         <div>
            <div style="margin-left : 0; width: 150; height: 50px; float: left; background-color:#808080;">

            </div>
            <div style="margin-left : 0; width: 150; height: 625px; float: left; background-color:#4285F4;">
               <div style="margin-top : 0;text-align: center;">
                  <a href="{{url_for('welcome_and_upload')}}" style="color:black; font-size:30px">Home</a>
               </div>
               <div style="margin-top : 0;text-align: center;">
                  <a style="text-align: center; color:black; font-size:30px;" href="{{url_for('gallery')}}">Gallery</a><br>
               </div>
               <div style="margin-top : 0;text-align: center;">
                  <a style="text-align: center; color:black; font-size:30px;" href="{{url_for('about')}}">About</a><br>
               </div>
               
               
               
            </div>
         </div>
      </div>
      <div style="margin-left : 0; width: 1000;float: left;">
         <div>
            <div style = "margin-top : 0; height: 50px; float: top; background-color:#7FFFD4;">

            </div>
            <div>
               <h1 style="text-align: center;">Details</h1>
            </div>
            <div>
                <div style="width: 300px; height: 500px; float: left"> 
                    <div class="item">
                        <p style= "text-align: center;">{{name}}</p>
                        <img style= "text-align: center;" height="{{height}}" width="{{width}}" src="{{url_for('static', filename=name)}}" />
                        <p style= "text-align: center;">{{height_image}}x{{width_image}}x{{channel}}</p>
                    </div>
                </div>
                <div style="margin-left : 350px; height: 800px;"> 
                    <table width="600" style="margin-top: 0px;">
                        <tr style="background-color:#808080" >
                            <td width="50%">CLASS</td>
                            <td>CONFIDENCE</td>
                        </tr>
                        {% for conf,class in zip(conf_list,class_list) %}
                            <tr>
                                <td>{{class}}</td>
                                <td>{{conf}}</td>
                
                            </tr>
                        {% endfor %}
                    </table>
                
                </div>
            </div>
         </div>
      </div>
      <div style="margin-left : 0; width: 150;float: left;">
         <div>
            <div style = "margin-top : 0; height: 675px; float: top; background-color:whitesmoke;">
               <p style="margin-top : 0;text-align: center;">ADS</p>
            </div>
         </div>
      </div>
   </body>
</html>
<!-- https://stackoverflow.com/questions/60167773/upload-multiple-files-or-a-whole-folder-through-flask -->